---
import Layout from "@layouts/Layout.astro";
import { AppButtons, Footer, Header } from "mee-components";
import { footer, header } from "../config";

const futures = [
  {
    image: "/images/personal-data-controller.svg",
    imageDark: "/images/personal-data-controller-dark.svg",
    title: "Private Sharing",
    description:
      "With Mee you can securely share your sensitive personal information with a trusted group of close friends, family or trusted providers. When you create a data sharing connection, you choose what (if anything) to share with them, and for how long.",
    class: "col-span-2",
  },
  {
    image: "/images/personal-data-storage.svg",
    imageDark: "/images/personal-data-storage-dark.svg",
    title: "Contact sharing between friends",
    description:
      "If you’d like a friend, family member or colleague to always have your latest home address (and you to have theirs), use the Mee app to send them a connection request link. After they tap the link, Mee will open and they can accept your connection request. After they do you’ll both always have each other’s home address. Effortlessly.",
    class: "col-span-1",
  },
  {
    image: "/images/limits-app.svg",
    imageDark: "/images/limits-app-dark.svg",
    title: "Auto-update account profiles on websites and apps",
    description:
      "If you create a connection with a Mee-compatible company, for as long as you wish, they can pull and use the latest information about you from your Mee. When you update it in Mee, every company you’re connected to automatically receives the updated information.",
    class: "col-span-1",
  },
  {
    image: "/images/browser.png",
    imageDark: "/images/browser-dark.png",
    title: "Privacy first",
    description:
      "Mee puts you in control of your data sharing connections with companies and other people. At any time, you can stop them from getting further updates, prevent them from sharing your information, and even automatically delete the data they have about you. Your information is never stored or monetized by The Mee Foundation.",
    class: "col-span-2",
  },
];
---

<Layout title="Mee Smartwallet">
  <Header header={header} location="Mee Smartwallet" />
  <main class="">
    <article
      class="relative mt-27 flex h-full w-screen flex-col items-center justify-between gap-8 overflow-hidden md:gap-16"
    >
      <section class="section top-0 z-100 mt-10 flex h-full w-screen items-center justify-center md:mt-20">
        <div class="flex max-w-3xl flex-col items-center justify-center gap-4 px-6 transition-opacity duration-500">
          <div class="flex flex-col items-center gap-1">
            <h4 class="titleText text-base font-bold uppercase">Under development</h4>
            <h1 class="marker text-center text-4xl font-semibold text-grey-900 lg:text-7xl dark:text-grey-50">
              Smartwallet
            </h1>
          </div>

          <h2 class="text text-pretty px-6 text-center text-xl text-grey-900 md:text-2xl dark:text-grey-300">
            We believe that people have an inalienable right to a digital identity. We secure this right by freely giving everyone their own independent identity—one that can never be taken from you by big tech or the government. <p/>This identity lives on your phone and/or laptop and is created by a software app called the Mee Smartwallet. The smartwallet manages the storage of your personal data, and allows you to privately share it with people and organizations you trust. 
          </h2>
        </div>
      </section>
      <section class="flex h-auto max-w-7xl flex-col items-center justify-center px-6">
        <div
          class="flex max-w-96 flex-wrap items-center justify-center gap-8 md:grid md:max-w-max md:grid-cols-2 lg:grid-cols-3"
        >
          {
            futures.map((future) => (
              <div class:list={["h-full rounded-2xl border border-grey-300 dark:border-grey-600", future.class]}>
                <img src={future.image} class="w-full rounded-t-2xl dark:hidden" alt={`${future.title}`} />
                <img src={future.imageDark} class="hidden w-full rounded-t-2xl dark:block" alt={`${future.title}`} />
                <div class="flex flex-col gap-2 p-8 pt-0">
                  <div class="flex items-center gap-2 text-left text-xl font-semibold text-grey-900 lg:text-2xl dark:text-grey-50">
                    {future.title}
                  </div>
                  <div class="text-sm text-grey-800 lg:text-base dark:text-grey-300">{future.description}</div>
                </div>
              </div>
            ))
          }
        </div>
      </section>
      <section
        class="z-100 mb-27 mt-16 flex h-full w-screen max-w-7xl flex-col items-center justify-center gap-10 md:gap-20"
      >
/* Let's include this later when our apps are futher along...     
        <div class="flex flex-col items-center justify-center gap-4 px-6 transition-opacity duration-500">
          <h1
            class="marker text-center text-3xl font-semibold text-grey-900 lg:text-5xl lg:tracking-0.02 dark:text-grey-50"
          >
            Get the latest build of our experimental smartwallet
          </h1>
          <h2
            class="text text-pretty px-6 text-center text-xl leading-relaxed text-grey-900 md:text-2xl dark:text-grey-300"
          >
            Available for iOS and Android. Support for desktop platforms is planned.
          </h2>
        </div>
*/        
        <AppButtons btnSize="normal" noDescription={true} class="z-100" />
      </section>
      <Footer footer={footer} mode="dark" />
    </article>
  </main>
</Layout>

<style is:global>
  .titleText {
    background: linear-gradient(180deg, #4f868e 1.49%, #1d2a2f 98.98%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  .dark .titleText {
    background: linear-gradient(90deg, #4f868e 1.49%, #f3f8f8 98.98%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
</style>
