---
import Layout from "@layouts/Layout.astro";
import { Header, Footer, AppButtons } from "mee-components";
import { header, footer } from "../config";
import remoteControl from "../../public/images/remote-control.png";
import remoteControlDark from "../../public/images/remote-control-dark.png";
import privacyAndSecurity from "../../public/images/privacy-and-security.png";
import privacyAndSecurityDark from "../../public/images/privacy-and-security-dark.png";
import privateSharing from "../../public/images/private-sharing.png";
import privateSharingDark from "../../public/images/private-sharing-dark.png";
import yourDigitalTwin from "../../public/images/your-digital-twin.png";
import yourDigitalTwinDark from "../../public/images/your-digital-twin-dark.png";

const futures = [
  {
    image: remoteControl,
    imageDark: remoteControlDark,
    title: "A remote control for your personal data",
    description:
      "Retrieves your data from apps/sites you use. Organizes it conveniently in one place, and provides a single, central place to edit your data and update all the apps/sites that use it.",
    class: "col-span-2",
  },
  {
    image: yourDigitalTwin,
    imageDark: yourDigitalTwinDark,
    title: "Your digital twin",
    description:
      "An identity agent gives you an independent, digital embodiment that you entirely control.",
    class: "col-span-1",
  },
  {
    image: privateSharing,
    imageDark: privateSharingDark,
    title: "Private sharing",
    description:
      "Your personal information is never accessible to anyone unless you wish so.",
    class: "col-span-1",
  },
  {
    image: privacyAndSecurity,
    imageDark: privacyAndSecurityDark,
    title: "Privacy and security",
    description:
      "Opts you out of sharing/selling your personal information by websites. Your personal data is stored securely on your device.",
    class: "col-span-2",
  },
];
---

<Layout title="Mee Smartwallet">
  <Header header={header} location="Mee Smartwallet" />
  <main class="">
    <article
      class="relative mt-27 flex h-full w-screen flex-col items-center justify-between gap-8 overflow-hidden md:gap-16"
    >
      <section
        class="section top-0 z-100 mt-10 flex h-full w-screen items-center justify-center md:mt-20"
      >
        <div
          class="flex max-w-3xl flex-col items-center justify-center gap-4 px-6 transition-opacity duration-500"
        >
          <div class="flex flex-col items-center gap-1">
            <h4 class="titleText text-base font-bold uppercase">
              Our smartwallet vision
            </h4>
            <h1
              class="marker text-center text-4xl font-semibold text-grey-900 lg:text-7xl dark:text-grey-50"
            >
              Smartwallet Project
            </h1>
          </div>

          <h3
            class="text text-pretty px-6 text-center text-xl text-grey-900 md:text-2xl dark:text-grey-300"
          >
            Our goal is to develop a trusted identity agent app that both holds
            your data and acts as a remote control for your personal data
            wherever it lives.
          </h3>
          <a
            class="block w-full px-6 text-center text-xl leading-relaxed text-brand-600 underline md:text-2xl dark:text-brand-300"
            href="/docs"
          >
            Smartwallet docs <i class="bi bi-arrow-right"></i>
          </a>
        </div>
      </section>
      <section
        class="flex h-auto max-w-7xl flex-col items-center justify-center px-6"
      >
        <div
          class="flex max-w-96 flex-wrap items-center justify-center gap-8 md:grid md:max-w-max md:grid-cols-2 lg:grid-cols-3"
        >
          {
            futures.map((future) => (
              <div
                class:list={[
                  "h-full rounded-2xl border border-grey-300 dark:border-grey-600",
                  future.class,
                ]}
              >
                <img
                  src={future.image.src}
                  class="w-full dark:hidden"
                  alt={`${future.title}`}
                />
                <img
                  src={future.imageDark.src}
                  class="hidden w-full dark:block"
                  alt={`${future.title}`}
                />
                <div class="flex flex-col gap-2 p-8 pt-0">
                  <div class="flex items-center gap-2 text-left text-xl font-semibold text-grey-900 lg:text-2xl dark:text-grey-50">
                    {future.title}
                  </div>
                  <div class="text-sm text-grey-800 lg:text-base dark:text-grey-300">
                    {future.description}
                  </div>
                </div>
              </div>
            ))
          }
        </div>
      </section>
      <section
        class="z-100 mb-27 mt-16 flex h-full w-screen max-w-7xl flex-col items-center justify-center gap-10 md:gap-20"
      >
        <div
          class="flex flex-col items-center justify-center gap-4 px-6 transition-opacity duration-500"
        >
          <h1
            class="marker text-center text-3xl font-semibold text-grey-900 lg:text-5xl lg:tracking-0.02 dark:text-grey-50"
          >
            Get the latest build of our experimental app
          </h1>
          <h3
            class="text text-pretty px-6 text-center text-xl leading-relaxed text-grey-900 md:text-2xl dark:text-grey-300"
          >
            Available for iOS and Android. Support for desktop platforms is
            planned.
          </h3>
        </div>
        <AppButtons btnSize="normal" noDescription={true} class="z-100" />
      </section>
      <Footer footer={footer} mode="dark" />
    </article>
  </main>
</Layout>

<style is:global>
  .titleText {
    background: linear-gradient(180deg, #4f868e 1.49%, #1d2a2f 98.98%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  .dark .titleText {
    background: linear-gradient(90deg, #4f868e 1.49%, #f3f8f8 98.98%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
</style>
