---
interface Props {
  className?: string;
  href: string;
  target?: string;
  id?: string;
  type?: "submit" | "reset" | "button" | undefined | null;
  size?: "l" | "m" | "s";
  buttonType?: "primary" | "secondary" | "tertiary" | "danger";
  style?: "filled" | "outlined";
  leftIcon?: string;
  rightIcon?: string;
  disabled?: boolean;
}

const {
  className,
  id,
  href,
  type = "button",
  buttonType = "primary",
  style = "filled",
  size = "l",
  leftIcon,
  rightIcon,
  disabled,
  target,
} = Astro.props;
---

<a
  id={id}
  type={type}
  href={href}
  target={target}
  class:list={[
    "z-10 box-border flex h-11 flex-none grow-0 flex-row items-center justify-center gap-2 rounded-xl border border-solid font-semibold",
    `${buttonType}-${style}`,
    disabled && "pointer-events-none cursor-default opacity-60",
    size === "l" && "h-11 px-4 py-2.5 text-base",
    size === "m" && "h-9 px-3.5 py-2 text-sm",
    size === "s" && "h-7.5 px-3 py-1.75 text-xs",
    className,
  ]}
>
  {
    leftIcon && (
      <i
        class:list={[
          "bi font-thin",
          "bi-" + leftIcon,
          size === "l" && "text-4xl",
          size === "m" && "text-3xl",
          size === "s" && "text-2xl",
        ]}
      />
    )
  }
  <slot />
  {
    rightIcon && (
      <i
        class:list={[
          "bi font-normal",
          "bi-" + rightIcon,
          size === "l" && "text-2xl",
          size === "m" && "text-xl",
          size === "s" && "text-lg",
        ]}
      />
    )
  }
</a>

<style>
  .primary-filled {
    @apply border-brand-600 bg-primary-gradient text-white hover:border-brand-800 hover:bg-primary-gradient-hover focus:shadow-button disabled:hover:border-brand-600 disabled:hover:bg-primary-gradient;
  }

  .primary-outlined {
    @apply border-brand-700 bg-transparent text-brand-700 hover:bg-brand-50 focus:shadow-button disabled:hover:bg-transparent;
  }

  .secondary-filled {
    @apply border-brand-300 bg-brand-50 text-brand-700 hover:bg-brand-100 focus:shadow-button disabled:hover:bg-brand-50;
  }

  .secondary-outlined {
    @apply border-brand-300 bg-transparent text-brand-700 hover:bg-brand-50 focus:shadow-button disabled:hover:bg-transparent;
  }

  .tertiary-filled {
    @apply border-gray-300 bg-gray-50 text-gray-700 hover:bg-gray-100 focus:shadow-button-tertiary disabled:hover:bg-gray-50;
  }

  .tertiary-outlined {
    @apply border-gray-300 bg-transparent text-gray-700 hover:bg-grey-50 focus:shadow-button-tertiary disabled:hover:bg-transparent;
  }

  .danger-filled {
    @apply border-error-700 bg-error-700 text-white hover:bg-error-800 focus:shadow-button-danger disabled:hover:bg-error-700;
  }

  .danger-outlined {
    @apply border-error-700 bg-transparent text-error-700 hover:bg-error-50 focus:shadow-button-danger disabled:hover:bg-transparent;
  }
</style>
