---
import { meeFoundation } from "./../../astro.config.mjs";
import { github, discord } from "./../../astro.config.mjs";
export interface Props {
  mode: "dark" | "light";
}

const { mode } = Astro.props;
const links = [
  {
    link: "https://x.com/mee_foundation",
    icon: "twitter-x",
    target: "_blank",
  },
  {
    link: github,
    icon: "github",
    target: "_blank",
  },
  {
    link: discord,
    icon: "discord",
    target: "_blank",
  },
];
const rightLinks = [
  {
    link: meeFoundation,
    name: "About",
    target: "_blank",
  },
  {
    link: "/docs/",
    name: "Docs",
    target: "_blank",
  },
];
---

<footer
  id="footer"
  class:list={[
    "footer z-200 flex w-[400vw] flex-col items-center justify-center pt-33 md:w-[200vw]",
    {
      "footer--fill text-white": mode === "dark",
      "text-blue": mode === "light",
    },
  ]}
>
  <div
    class:list={[
      "flex w-screen max-w-7xl flex-col items-center justify-between gap-7 px-5 pb-10 text-sm font-medium leading-none tracking-wider xl:flex-row",
      { "text-white": mode === "dark", "text-gray": mode === "light" },
    ]}
  >
    <span class="hidden whitespace-nowrap xl:w-1/3 xl:inline"
      >© {new Date().getFullYear()} The Mee Foundation, Inc.</span
    >
    <ul
      class="flex flex-row gap-7 text-center xl:w-1/3 xl:justify-center md:gap-10"
    >
      {
        links.map((link) => (
          <li>
            <a href={link.link} target={link.target}>
              <i class:list={["bi text-2xl font-thin", "bi-" + link.icon]} />
            </a>
          </li>
        ))
      }
    </ul>
    <div class="flex items-center justify-center gap-8 xl:w-1/3 xl:justify-end">
      {
        rightLinks?.map((link) => (
          <a href={link.link} target={link.target}>
            {link.name}
          </a>
        ))
      }
    </div>
    <span class="inline xl:hidden"
      >© {new Date().getFullYear()} The Mee Foundation, Inc.</span
    >
  </div>
</footer>

<style>
  .footer {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background-color: white;
  }
  .footer--fill {
    background: linear-gradient(218.91deg, #559faa 16.17%, #335f66 56.32%) left
      bottom no-repeat;
  }
  .link::after {
    content: "";
    mask: url("/images/arrow-right.svg") no-repeat center;
    display: block;
    width: 21px;
    height: 12px;
  }

  a:hover {
    text-decoration: underline;
  }
</style>
