---
import Logo from "./Logo.astro";
import ButtonLink from "./ButtonLink.astro";
import { github, discord, meeFoundation } from "./../../astro.config.mjs";
export interface Props {
  logoColor?: "blue" | "white";
}

const { logoColor = "blue" } = Astro.props;
const links = [
  {
    name: "About us",
    link: meeFoundation,
    target: "_blank",
  },
  {
    name: "Docs",
    link: "/docs",
    target: "_blank",
  },
];
---

<header
  id="header"
  class="relative flex w-screen flex-col items-center justify-center"
>
  <div
    class="header mx-auto flex w-full max-w-7xl flex-wrap items-center justify-between px-5 py-8"
  >
    <div class="md:w-1/3">
      <a
        id="mainLogo"
        href={meeFoundation}
        class:list={[
          "logo block h-6 w-20",
          { "logo--contrast": logoColor === "blue" },
        ]}
      >
        <Logo />
      </a>
    </div>
    <ul
      class="items-right flex justify-center gap-3 text-center md:w-1/3 md:gap-8"
    >
      {
        links.map((link) => (
          <li class="text-base font-semibold text-brand-950/80">
            <a href={link.link} target={link.target}>
              {link.name}
            </a>
          </li>
        ))
      }
    </ul>
    <div class="hidden w-1/3 items-end justify-end gap-3 md:flex">
      <ButtonLink
        leftIcon="github text-lg"
        buttonType="tertiary"
        style="outlined"
        size="l"
        href={github}
        target="_blank">Star us</ButtonLink
      >
      <ButtonLink
        href={discord}
        leftIcon="discord text-lg"
        buttonType="tertiary"
        style="outlined"
        size="l"
        target="_blank">Join us</ButtonLink
      >
    </div>
  </div>
</header>

<style>
  a:hover {
    text-decoration: underline;
  }
  .header:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    width: 100%;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      rgb(231, 232, 233) 50%,
      rgba(255, 255, 255, 0) 100%
    );
  }
</style>
